:root {
  --sidebar-bg: #ffffff;
}

.nav-wide-wrapper {
  display: none;
}

#mdbook-sidebar-toggle {
  display: none;
}

#mdbook-sidebar-resize-handle {
  background-color: #bdbdbd;
}

.sidebar-resize-indicator {
  display: none;
}
